{% block content %}
{% include "header.html" %}


  <div class="col-10">
    <div class="row head">

      <div class="col-1">
        <div class="row" style="margin-top:30px;">
          <div class="col-12">
            <i class="fa-solid fa-users fa-2x" data-toggle="tooltip" title="User"></i>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove;">
          <h5 style="text-align: center;">Project</h5>
          <div class="col-2">
              <a href="{{url_for('projectDetails')}}">
                <i class="fa-solid fa-folder-plus fa-1x" data-toggle="tooltip" title="Create Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('deleteProject', item_id=item_d.id, page=page)}}">
                <i class="fa-solid fa-folder-minus fa-1x" data-toggle="tooltip" title="Delete Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('copyProject', page=page, proj_id=item_d.projectID)}}">
                <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Copy Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('importProject', page=page)}}">
                <i class="fa-solid fa-download fa-1x" data-toggle="tooltip" title="Import Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('exportProject', page=page, proj_id=item_d.projectID)}}">
                <i class="fa-solid fa-upload fa-1x" data-toggle="tooltip" title="Export Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('preferences', page=page)}}">
                <i class="fa-solid fa-sliders fa-1x" data-toggle="tooltip" title="Preference"></i>
              </a>
            </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <p style="border: groove; border-radius: 0px;">FQ 00{{item_d.projectID}} 00{{item_index+1}} {{item_d.alt}}</p>
          </div>
          <div class="col-3">
              <a href="{{url_for('nextItem', control='first', page=page)}}">
                <i class="fa-solid fa-backward-fast fa-1x"></i><br>
              </a>
              <label for="">First</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='prev', page=page)}}">
                <i class="fa-solid fa-backward-step fa-1x"></i><br>
              </a>
              <label for="">Prev.</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='next', page=page)}}">
                <i class="fa-solid fa-forward-step fa-1x"></i><br>
              </a>
              <label for="">Next</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='last', page=page)}}">
                <i class="fa-solid fa-forward-fast fa-1x"></i><br>
              </a>
              <label for="">Last</label>
            </div>
        </div>
      </div>


      <div class="col-3" >
        <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove;">
            <h5 style="text-align: center;">Item</h5>
            <div class="col-2">
                  <a href="{{url_for('addItem', page=page, alt='A')}}">
                    <i class="fa-solid fa-file-circle-plus fa-1x" data-toggle="tooltip" title="Create Item"></i>
                  </a>
                </div>
            <div class="col-2">
              <a href="{{url_for('deleteItem', page=page, item_id=item_d.id)}}">
                <i class="fa-solid fa-file-circle-minus fa-1x" data-toggle="tooltip" title="Delete Item"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('copyItem', page=page, item_id=item_d.id)}}">
                <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Item Copy"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('exportItem', page=page)}}">
                <i class="fa-solid fa-file-export fa-1x" data-toggle="tooltip" title="Export Item"></i>
              </a>
            </div>
            <div class="col-2">
              <i class="fa-solid fa-file-import fa-1x" data-toggle="tooltip" title="Copy To"></i>
            </div>
            <div class="col-2">
              <a href="{{url_for('addItem', page=page, alt='B')}}">
                <i class="fa-regular fa-object-ungroup fa-1x" data-toggle="tooltip" title="Alternate"></i>
              </a>
            </div>
        </div>
      </div>

      <div class="col-1">
        <div class="row" style="margin-top:30px;">
          <div class="col-12">
            <a href="{{url_for('generate_csv', page=page)}}">
                <i class="fa-solid fa-print fa-2x" data-toggle="tooltip" title="Print"></i>
            </a>
          </div>
        </div>
      </div>
</div>
    <form action="{{ url_for('actuator') }}" method="post">
      <div class="row Silding" style="margin-top: 30px;">
        <div class="row">
          <div class="col-2" style="text-align: right">
            <label>Trim Type</label>
          </div>
          <div class="col-2">
            <input type="text" value="{{data[0]}}" style="width: 75px;">
          </div>
          <div class="col-2" style="text-align: right">
            <label>Balancing</label>
          </div>
          <div class="col-2">
            <input list="browsers" name="balance" id="browser" value="{{v_list[0]}}" style="width: 75px;">
            <datalist id="browsers" >
                <option value="unbalanced">
                <option value="balanced">
            </datalist>
<!--            <select name="balance" style="border-left: 1px groove;">-->
<!--              <option value="unbalanced">Unbalanced</option>-->
<!--              <option value="balanced">Balanced</option>-->
<!--            </select>-->
          </div>
          <div class="col-2" style="text-align: right">
            <label>Flow Direction</label>
          </div>
          <div class="col-2">
            <input type="text" value="{{data[1]}}" style="width: 75px;">
          </div>

        </div>
        <div class="row" style="margin-top:20px;">
          <div class="col-5">
            <h5 style="margin-bottom: 0px;">Inputs</h5>
            <table>
                <tr>
                  <th >Description</th>
                  <th style="width:90px;">Units</th>
                  <th style="width:130px;">Values</th>
                </tr>

                <tr>
                  <td >Valve Size</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch</option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                   <td style="width:130px;"><input type="text" name="vSize" style="width:130px;border: 1px solid white;" value="{{dummy[0]}}"></td>
                </tr>

                <tr>
                  <td >Seat Dia</td>
                  <td style="width:90px;">
                    <select name=""  style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch</option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="seatDia" style="width:130px;border: 1px solid white;" value="{{dummy[1]}}"></td>
                </tr>
                <tr>
                  <td >Unbalance Area</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch² </option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="ua" style="width:130px;border: 1px solid white;" value="{{v_list[5]}}"></td>
                </tr>
                <tr>
                  <td>Stem Dia</td>
                  <td style="width:90px;">
                    <select name="" id=" " style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch</option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="stemDia" style="width:130px;border: 1px solid white;" value="{{v_list[4]}}"></td>
                </tr>
                <tr>
                  <td>Plug Dia</td>
                  <td style="width:90px;">
                    <select name=""  style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch</option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="plugDia" style="width:130px;border: 1px solid white;" value="{{v_list[3]}}"></td>
                </tr>
                <tr>
                  <td>Valve Travel</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">inch</option>
                        <option value="mercedes">mm</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="stroke" style="width:130px;border: 1px solid white;" value="{{dummy[2]}}"></td>
                </tr>
                <tr>
                  <td>Packing Friction</td>
                  <td style="width:90px;">
<!--                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">-->
<!--                        -->
<!--                    </select>-->
                  </td>
                  <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{v_list[10]}}"></td>
                </tr>
                <tr>
                  <td>Seat Load Force</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">lbf </option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{v_list[11]}}"></td>
                </tr>
                <tr>
                  <td>P1</td>
                  <td style="width:90px;">
                    <select name=""  style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">psig</option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="iPres" style="width:130px;border: 1px solid white;" value="{{data[4]}}"></td>
                </tr>
                <tr>
                  <td>P2</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                         <option value="">psig</option>
                    </select>
                  </td>
                 <td style="width:130px;"><input type="text" name="oPres" style="width:130px;border: 1px solid white;" value="{{data[5]}}"></td>
                </tr>

                <tr>
                  <td>ΔP Shutoff</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                         <option value="">psig</option>
                    </select>
                  </td>
                 <td style="width:130px;"><input type="text" name="shutoffDelP" style="width:130px;border: 1px solid white;" value="{{data[6]}}"></td>
                </tr>


                <tr>
                  <td >Unbal Force(Open)</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">lbf </option>
                    </select>
                  </td>
                 <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{v_data[2]}}"></td>
                </tr>



                <tr>
                  <td>Fluid Neg.Gradient</td>
                  <td style="width:90px;">
                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="kn" style="width:130px;border: 1px solid white;" value="{{act_list[15]}}"></td>
                </tr>


                <tr>
                  <td>ΔP Flowing</td>
                  <td style="width:90px;">
                    <select name="" id=" " style="width:90px; height: 23px;border: 1px solid white;">
                        <option value="">psig </option>
                    </select>
                  </td>
                  <td style="width:130px;"><input type="text" name="delP" style="width:130px;border: 1px solid white;" value="{{data[7]}}"></td>
                </tr>


            </table>
            <div class="row">
              <div class="col-12">
                <input type="submit" name="valve" value="Calculate">
                <input type="submit" name="actuator" value="Select Actuator">
                  <a href="{{url_for('stroke_speed', page=page)}}">Stroke Speed</a>
                  <a href="{{url_for('act_csv', page=page)}}">Spec Sheet</a>
<!--                <button class=" btn:hover btn" style="width: 100px;margin-left: 0px;margin-top: 20px;text-align: center;" type="submit" name="valve">Calculate</button>-->
<!--                <button class=" btn:hover btn" style="margin-left: 0px;margin-top: 20px;text-align: center;" type="submit" name="actuator">Select Actuator</button>-->

              </div>
            </div>
          </div>







            <div class="col-5" style="margin-left:50px;">
                <h5 style="margin-bottom: 0px;">Calculated Results</h5>
                <table >
                    <tr>
                      <th>Description</th>
                      <th>Units</th>
                      <th>Values</th>
                    </tr>
                    <tr>
                      <td>Valve Thrust (close)</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf </option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="vClosed" style="width:130px;border: 1px solid white;" value="{{v_data[1]}}"></td>
                    </tr>

                    <tr>
                      <td>Valve Thrust (open)</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf </option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="vOpen" style="width:130px;border: 1px solid white;" value="{{act_list[13]}}"></td>
                    </tr>


                    <tr>
                      <td>Shut Off Force</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="shutoff+" style="width:130px;border: 1px solid white;" value="{{act_list[14]}}"></td>
                    </tr>

                      <td>Stem Area</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">inch² </option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[16]}}"></td>
                    </tr>

                    <tr>
                      <td>Actuator Size</td>
                      <td style="width:90px;">
    <!--                    <select name="" style="width:90px; height: 23px;border: 1px solid white;">-->
    <!--                    </select>-->
                      </td>
                      <td style="width:130px;"><input type="text" name="actSize" style="width:130px;border: 1px solid white;" value="{{act_list[17]}}"></td>
                    </tr>
                    <tr>
                      <td> Actuator Travel</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">inch</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="actStroke" style="width:130px;border: 1px solid white;" value="{{act_list[1]}}"></td>
                    </tr>
                    <tr>
                      <td> Diaphragm Effective Area</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">inch² </option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[0]}}"></td>
                    </tr>
                    <tr>
                      <td>Lower Benchset</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">psig </option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="sMin" style="width:130px;border: 1px solid white;" value="{{act_list[2]}}"></td>
                    </tr>
                    <tr>
                      <td>Upper Benchset</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">psig</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="sMax" style="width:130px;border: 1px solid white;" value="{{act_list[3]}}"></td>
                    </tr>

                    <tr>
                      <td>Spring Rate</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf/inch</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[18]}}"></td>
                    </tr>


                    <tr>
                      <td>Spring Windup</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">inch</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[19]}}"></td>
                    </tr>


                    <tr>
                      <td>Max Spring Load</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[20]}}"></td>
                    </tr>



                    <tr>
                      <td>Maximum Air Supply</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">psig</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{air}}"></td>
                    </tr>
                    <tr>
                      <td>Set pressure</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">psig</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="setPressure" style="width:130px;border: 1px solid white;" value="{{act_list[5]}}"></td>
                    </tr>
                    <tr>
                      <td>Actuator Thrust (Valve close)</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      {% if af == 'AFO' %}
                        <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[9]}}"></td>
                      {% else %}
                        <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[7]}}"></td>
                      {% endif %}

                    </tr>
                    <tr>
                      <td>Actuator Thrust (Valve open)</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      {% if af == 'AFO' %}
                        <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[7]}}"></td>
                      {% else %}
                        <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[9]}}"></td>
                      {% endif %}
                    </tr>

                    <tr>
                      <td>Friction Band(+/-)</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">psig</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[21]}}"></td>
                    </tr>

                     <tr>
                      <td>Req. HandWheel Thrust</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[22]}}"></td>
                    </tr>

                    <tr>
                      <td>Max. Top / Side-Mount HW Thrust</td>
                      <td style="width:90px;">
                        <select name="" style="width:90px; height: 23px;border: 1px solid white;">
                            <option value="">lbf</option>
                        </select>
                      </td>
                      <td style="width:130px;"><input type="text" name="" style="width:130px;border: 1px solid white;" value="{{act_list[23]}}"></td>
                    </tr>



                </table>
            </div>
          </div>

          <div class="row" >

    <!--          <div class="col-12" style="text-align: right;">-->
    <!--            <button class=" btn:hover btn" id="Cancel" style="width: 100px; margin-top: 20px; margin-left: 20px; ">Cancel</button>-->
    <!--           <button class=" btn:hover btn" id="Ok" style="width: 100px;margin-left: 20px;margin-top: 20px;">Ok</button>-->
    <!--          </div>-->
            </div>

      </div>
    </form>

  </div>

{% include "footer.html" %}
{% endblock %}