<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Forgot Password</title>
   
</head>

<body>

    <div class="container">
        <div class="form-container">
            <h2>Change Password</h2>
            <form action="register.php" method="POST">
                <div><input type="text" name="old_password" placeholder="Enter Old Password" required><a
                        href="Forgot Password.html">Forgot Password</a></div>
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="new_confirm_password" placeholder="New Confirm Password" required>
                <button type="submit">Change Password</button>
                <a href="user profile.html">Back to Profile </a>
            </form>
        </div>
    </div>
</body>

</html>