{% block content %}
{% include "header.html" %}



    <div class="col-10">
      <div class="row head">

        <div class="col-1">
          <div class="row" style="margin-top:30px;">
            <div class="col-12">
              <i class="fa-solid fa-users fa-2x" data-toggle="tooltip" title="Customer Master"></i>
            </div>
          </div>
        </div>

        <div class="col-3" >
          <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove; ">
            <h5 style="text-align: center;">Project</h5>
            <div class="col-2">
              <a href="{{url_for('projectDetails')}}">
                <i class="fa-solid fa-folder-plus fa-1x" data-toggle="tooltip" title="Create Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('deleteProject', item_id=item_d.id, page=page)}}">
                <i class="fa-solid fa-folder-minus fa-1x" data-toggle="tooltip" title="Delete Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('copyProject', page=page, proj_id=item_d.projectID)}}">
                <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Copy Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('importProject', page=page)}}">
                <i class="fa-solid fa-download fa-1x" data-toggle="tooltip" title="Import Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('exportProject', page=page, proj_id=item_d.projectID)}}">
                <i class="fa-solid fa-upload fa-1x" data-toggle="tooltip" title="Export Project"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('preferences', page=page)}}">
                <i class="fa-solid fa-sliders fa-1x" data-toggle="tooltip" title="Preference"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <p style="border: groove; border-radius: 0px;">FQ 00{{item_d.projectID}} 00{{item_index+1}} {{item_d.alt}}</p>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='first', page=page)}}">
                <i class="fa-solid fa-backward-fast fa-1x"></i><br>
              </a>
              <label for="">First</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='prev', page=page)}}">
                <i class="fa-solid fa-backward-step fa-1x"></i><br>
              </a>
              <label for="">Prev.</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='next', page=page)}}">
                <i class="fa-solid fa-forward-step fa-1x"></i><br>
              </a>
              <label for="">Next</label>
            </div>
            <div class="col-3">
              <a href="{{url_for('nextItem', control='last', page=page)}}">
                <i class="fa-solid fa-forward-fast fa-1x"></i><br>
              </a>
              <label for="">Last</label>
            </div>
          </div>
        </div>


        <div class="col-3" >
          <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove;">
          <h5 style="text-align: center;">Item</h5>
            <div class="col-2">
              <a href="{{url_for('addItem', page=page, alt='A')}}">
                <i class="fa-solid fa-file-circle-plus fa-1x" data-toggle="tooltip" title="Create Item"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('deleteItem', page=page, item_id=item_d.id)}}">
                <i class="fa-solid fa-file-circle-minus fa-1x" data-toggle="tooltip" title="Delete Item"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('copyItem', page=page, item_id=item_d.id)}}">
                <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Item Copy"></i>
              </a>
            </div>
            <div class="col-2">
              <a href="{{url_for('exportItem', page=page)}}">
                <i class="fa-solid fa-file-export fa-1x" data-toggle="tooltip" title="Export Item"></i>
              </a>
            </div>
            <div class="col-2">
              <i class="fa-solid fa-file-import fa-1x" data-toggle="tooltip" title="Copy To"></i>
            </div>
            <div class="col-2">
              <a href="{{url_for('addItem', page=page, alt='B')}}">
                <i class="fa-regular fa-object-ungroup fa-1x" data-toggle="tooltip" title="Alternate"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div class="row" style="margin-top:30px;">
            <div class="col-12">
              <a href="{{url_for('generate_csv', page=page)}}">
                <i class="fa-solid fa-print fa-2x" data-toggle="tooltip" title="Print"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 3px;margin-top: 20px;">
        <div class="col-4 tools" style="width:400;background-color: #EAEAEA;" >
          <div class="row" >
            <div class="col-12">
              <h5 class="" style="text-align: left;margin-top: 20px;" ;>Stroke Speed Data</h5>
            </div>

            <div class="row" style="margin-top: 0px;" >
              <div class="col-6" style='text-align: left;'>
                <label for="vm">VM:</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="vm" name="vm" value="{{data[1]}}">
              </div>
            </div>

            <div class="row" style="margin-top: 0px;" >
              <div class="col-6" style='text-align: left;'>
                <label for="vo">VO:</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="vo" name="vo" value="{{data[0]}}">
              </div>
            </div>



            <div class="row" >
              <div class="col-6" style='text-align: left;'>
                <label for="vs">VS:</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="vs" name="vs" value="{{data[2]}}">
              </div>
            </div>


            <div class="row">
              <div class="col-6" style='text-align: left;'>
                <label for="pi_fill">Pi Fill</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="pi_fill" name="pi_fill" value="{{data[3]}}">
              </div>
            </div>

            <div class="row"  >
              <div class="col-6" style='text-align: left;'>
                <label for="pf_fill">Pf Fill</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="pf_fill" name="pf_fill" value="{{data[4]}}">
              </div>
            </div>



            <div class="row"  >
              <div class="col-6" style='text-align: left;'>
                <label for="pi_exhaust">Pi Exhaust</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="pi_exhaust" name="pi_exhaust" value="{{data[5]}}">
              </div>
            </div>

            <div class="row"  >
              <div class="col-6" style='text-align: left;'>
                <label for="pf_exhaust">Pf Exhaust</label>
              </div>
              <div class="col-3" style='text-align: left;'>
                <input type="text" style="width: 100px;" id="pf_exhaust" name="pf_exhaust" value="{{data[6]}}">
              </div>
            </div>

            <div class="row"  >
              <button>
                <a href="{{url_for('actuator')}}"><-Back</a>
              </button>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
