{% block content %}
{% include "header.html" %}


<div class="col-10">
  <div class="row head">

    <div class="col-1">
      <div class="row" style="margin-top:30px;">
        <div class="col-12">
          <i class="fa-solid fa-users fa-2x" data-toggle="tooltip" title="User"></i>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove;">
        <h5 style="text-align: center;">Project</h5>
        <div class="col-2">
              <a href="{{url_for('projectDetails')}}">
                <i class="fa-solid fa-folder-plus fa-1x" data-toggle="tooltip" title="Create Project"></i>
              </a>
            </div>
        <div class="col-2">
          <a href="{{url_for('deleteProject', item_id=item_d.id, page=page)}}">
            <i class="fa-solid fa-folder-minus fa-1x" data-toggle="tooltip" title="Delete Project"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('copyProject', page=page, proj_id=item_d.projectID)}}">
            <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Copy Project"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('importProject', page=page)}}">
            <i class="fa-solid fa-download fa-1x" data-toggle="tooltip" title="Import Project"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('exportProject', page=page, proj_id=item_d.projectID)}}">
            <i class="fa-solid fa-upload fa-1x" data-toggle="tooltip" title="Export Project"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('preferences', page=page)}}">
            <i class="fa-solid fa-sliders fa-1x" data-toggle="tooltip" title="Preference"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <p style="border: groove; border-radius: 0px;">FQ 00{{item_d.projectID}} 00{{item_index+1}} {{item_d.alt}}</p>
        </div>
        <div class="col-3">
          <a href="{{url_for('nextItem', control='first', page=page)}}">
            <i class="fa-solid fa-backward-fast fa-1x"></i><br>
          </a>
          <label for="">First</label>
        </div>
        <div class="col-3">
          <a href="{{url_for('nextItem', control='prev', page=page)}}">
            <i class="fa-solid fa-backward-step fa-1x"></i><br>
          </a>
          <label for="">Prev.</label>
        </div>
        <div class="col-3">
          <a href="{{url_for('nextItem', control='next', page=page)}}">
            <i class="fa-solid fa-forward-step fa-1x"></i><br>
          </a>
          <label for="">Next</label>
        </div>
        <div class="col-3">
          <a href="{{url_for('nextItem', control='last', page=page)}}">
            <i class="fa-solid fa-forward-fast fa-1x"></i><br>
          </a>
          <label for="">Last</label>
        </div>
      </div>
    </div>


    <div class="col-3">
      <div class="row" style="margin-top:15px;border-left: 1px groove;border-right:  1px groove; ">
        <h5 style="text-align: center;">Item</h5>
        <div class="col-2">
              <a href="{{url_for('addItem', page=page, alt='A')}}">
                <i class="fa-solid fa-file-circle-plus fa-1x" data-toggle="tooltip" title="Create Item"></i>
              </a>
            </div>
        <div class="col-2">
          <a href="{{url_for('deleteItem', page=page, item_id=item_d.id)}}">
            <i class="fa-solid fa-file-circle-minus fa-1x" data-toggle="tooltip" title="Delete Item"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('copyItem', page=page, item_id=item_d.id)}}">
            <i class="fa-regular fa-copy fa-1x" data-toggle="tooltip" title="Item Copy"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="{{url_for('exportItem', page=page)}}">
            <i class="fa-solid fa-file-export fa-1x" data-toggle="tooltip" title="Export Item"></i>
          </a>
        </div>
        <div class="col-2">
          <i class="fa-solid fa-file-import fa-1x" data-toggle="tooltip" title="Copy To"></i>
        </div>
        <div class="col-2">
          <a href="{{url_for('addItem', page=page, alt='B')}}">
            <i class="fa-regular fa-object-ungroup fa-1x" data-toggle="tooltip" title="Alternate"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-1">
      <div class="row" style="margin-top:25px;">
        <div class="col-12">
          <a href="{{url_for('generate_csv', page=page)}}">
            <i class="fa-solid fa-print fa-2x" data-toggle="tooltip" title="Print"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <form action="{{ url_for('valveSelection') }}" method="post">
    <div class="row">
      <div class="row tools" style="text-align: center; margin-left: 3px; margin-right: 3px;margin-top:20px; ">
        <div class="col-12">
          <div class="row">
            <div class="col-3 tools" style='text-align: left; '>
              <label for="std">Design Standard</label>
              <select name="std" id="std" style="height: 25px; width: 80px;">
                <option value="ASME">ASME</option>
                <option value="API">API</option>
              </select>
            </div>
            <div class="col-3 tools" style='text-align: left; '>
              <label for="fState">Fluid State</label>
              <select name="fState" id="fState" style="height: 25px; width: 80px;">
                {% for i in data[14] %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-3 tools" style='text-align: left; '>
              <label for="vStyle">Valve Style</label>
              <select name="vStyle" id="vStyle" style="height: 25px; width: 80px;">
<!--                <option value="none" selected disabled hidden>-none-</option>-->
                {% for i in data[13] %}
                  {% if i == style %}
                    <option value="{{i}}" selected>{{i}}</option>
                  {% else %}
                    <option value="{{i}}">{{i}}</option>
                  {% endif %}

                {% endfor %}
              </select>
            </div>
          </div>



          <div class="row" style="margin-top:20px; ">
            <div class="col-3 tools" style="background-color: #EAEAEA;">

              <div class="row" style="margin-top:10px;">
                <h5 class="" style="text-align: left" ;>Valve Identification</h5>

                <div class="col-6" style='text-align: right;'>
                  <label for="tag">Tag</label>
                </div>
                <div class="col-6" style='text-align: left;'>
                  <input type="text" name="tag" id="tag" style="width: 100px;" value="{{v_dict['tag_no']}}">
                </div>
                <div class="col-6" style='text-align: right;'>
                  <label for="qty">Quantity</label>
                </div>
                <div class="col-6" style='text-align: left;'>
                  <input type="text" name="qty" id="qty" value="1" style="width: 100px;" >
<!--                  <input type="text" name="qty" id="qty" value="{{v_dict['quantity']}}" style="width: 100px;" >-->
                </div>
                <div class="col-6" style='text-align: right;'>
                  <label for="application">Application</label>
                </div>
                <div class="col-6" style='text-align: left;'>
                  <input type="text" name="application" id="application" value="{{v_dict['application']}}" style="width: 100px;" list="cars" />
                  <datalist id="cars">
                    {% for i in data[12] %}
                      <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                  </datalist>
                </div>
                <div class="col-6" style='text-align: right;'>
                  <label for="sNo">Serial No</label>
                </div>
                <div class="col-6" style='text-align: left;'>
                  <input type="text" name="sNo" id="sNo" value="{{sNo}}" style="width: 100px;">
                </div>
              </div>


              <div class="row" style="margin-top:30px;">
                <div class="col-12 tools">
                  <h5 class="" style="text-align: left" ;>Pressure-Temperature Rating</h5>

                  <div class="row" style="margin-top:20px;">
                    <div class="col-6" style='text-align: right;'>
                      <label for="ratingP">Rating</label>
                    </div>
                    <div class="col-3">
                      <select name="ratingP" id="ratingP" style="width: 120px;height:25px;">
                        {% for i in data[0] %}
                          {% if i.id == v_dict['rating_id'] %}
                            <option value="{{i.id}}" selected>ASME {{i.size}}</option>
                          {% else %}
                            <option value="{{i.id}}">ASME {{i.size}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-3"> </div>
                    <div class="col-6" style='text-align: right;'>
                      <label for="bMaterial">Body Material</label>
                    </div>
                    <div class="col-3">
<!--                      <select name="bMaterial" id="bMaterial" style="width: 120px;height:25px;">-->
<!--                          <option value="Globe">Globe</option>-->
<!--                          <option value="Angle">Angle</option>-->
<!--                          <option value="Globe Short Z">Globe Short Z</option>-->
<!--                          <option value="Globe Long Z">Globe Long Z</option>-->
<!--                          <option value="3-Way">3-Way</option>-->
<!--                          <option value="3-Way Angle">3-Way Angle</option>-->
<!--                          <option value="BF Wafer">BF Wafer</option>-->
<!--                          <option value="BF Lugged Wafer">BF Lugged Wafer</option>-->
<!--                          <option value="BF DF Short">BF DF Short</option>-->
<!--                          <option value="">BF DF Long</option>-->
<!--                          <option value="">BF Weld End</option>-->
<!--                          <option value="">Ball Flanged</option>-->
<!--                          <option value="">ball Flanged Wafer</option>-->
<!--                          <option value="">Ball Screwed NPT</option>-->
<!--                          <option value="">Ball Screwed BSPT</option>-->
<!--                          <option value="">Ball Screwed BSP</option>-->
<!--                          <option value="">Ball Socket Weld</option>-->
<!--                          <option value="">Ball Butt Weld</option>-->
<!--                          <option value="">None</option>-->

<!--                      </select>-->

                      <select name="bMaterial" id="bMaterial" style="width: 120px;height:25px;">
                        {% for i in data[1] %}
                          {% if i.id == v_dict['body_material'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>


                    </div>

                    <!-- <div class="col-3">
                        <select name="" id="" style="width: 50px; height:25px;">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                        </select>
                      </div> -->

                    <div class="col-6" style='text-align: right;'>
                      <label for="shutOffP">Shut-Off ΔP</label>
                    </div>
                    <div class="col-3">
                      <input type="text" name="shutOffP" id="shutOffP" value="{{v_dict['shutoffDelP']}}" style="width: 50px;height:25px;">
                    </div>

                    <div class="col-3">
                      <select name="" id="" style="width: 50px;height:25px;">
                        <option value="bar">bar</option>
                        <option value="kpa">KPa</option>
                        <option value="mpa">MPa</option>
                        <option value="pa">Pa</option>
                        <option value="kg/cm2">kg/cm²</option>
                        <option value="psia">psi</option>
                      </select>
                    </div>

                    <div class="col-6" style='text-align: right;'>
                      <label for="maxP">Max Pressure</label>
                    </div>
                    <div class="col-3">
                      <input type="text" name="maxP" id="maxP" value="{{v_dict['maxPressure']}}" style="width: 50px;height:25px;">
                    </div>

                    <div class="col-3">
                      <select name="" id="" style="width: 50px;height:25px;">
                        <option value="bar">bar(g)</option>
                        <option value="bar">bar(a)</option>
                        <option value="kpa">KPa(a)</option>
                        <option value="kpa">KPa(g)</option>
                        <option value="mpa">MPa(a)</option>
                        <option value="mpa">MPa(g)</option>
                        <option value="pa">Pa(a)</option>
                        <option value="pa">Pa(g)</option>
                        <option value="inh20">in H2O(a)</option>
                        <option value="inh20">in H2O(g)</option>
                        <option value="inhg">in Hg(a)</option>
                        <option value="inhg">in Hg(g)</option>
                        <option value="kg/cm2">kg/cm²(a)</option>
                        <option value="kg/cm2">kg/cm²(g)</option>
                        <option value="">m H20(a)</option>
                        <option value="mmh20">m H20(g)</option>
                        <option value="mbar">mbar(a)</option>
                        <option value="mbar">mbar(g)</option>
                        <option value="mmhg">mm Hg(a)</option>
                        <option value="mmhg">mm Hg(g)</option>
                        <option value="psia">psi(a)</option>
                        <option value="psia">psi(g)</option>
                      </select>
                    </div>

                    <div class="col-6" style='text-align: right;'>
                      <label for="maxT">Max Temp</label>
                    </div>
                    <div class="col-3">
                      <input type="text" name="maxT" id="maxT" value="{{v_dict['maxTemp']}}" style="width: 50px;height:25px;">
                    </div>

                    <div class="col-3">
                      <select name="" id="" style="width: 50px;height:25px;">
                        <option value="C">°C</option>
                        <option value="F">°F</option>
                        <option value="K">K</option>
                        <option value="R">R</option>
                      </select>
                    </div>
                    <div class="col-6" style='text-align: right;'>
                      <label for="minT">Min Temp</label>
                    </div>

                    <div class="col-3">
                      <input type="text" name="minT" id="minT" value="{{v_dict['minTemp']}}" style="width: 50px;height:25px;">
                    </div>

                    <div class="col-3">
                      <select name="" id="" style="width: 50px;height:25px;">
                        <option value="C">°C</option>
                        <option value="F">°F</option>
                        <option value="K">K</option>
                        <option value="R">R</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="col-4 tools">
              <div class="row" style="margin-left: 5px; margin-right:5px;">
                <div class="col-12">
                  <h5 class="" style="text-align: left;margin-top:10px;" ;>Valve Selection</h5>
                </div>
                <div class="row">
                  <div class="col-7" style='text-align: right;'>
                    <label for="vSeries">Valve Series</label>
                  </div>
                  <div class="col-5">
                    <select name="vSeries" id="vSeries" style="width: 100px;height:25px;">

                      {% for i in data[2] %}
                        {% if i.id == v_dict['valve_series'] %}
                          <option value="{{i.id}}" selected>{{i.name[:2]}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name[:2]}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>


<!--                  <div class="col-7" style='text-align: right;'>-->
<!--                    <label for="vSize">Valve Size</label>-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <select name="vSize" id="vSize" style="width: 100px;height:25px;">-->
<!--                      {% for i in data[3] %}-->
<!--                        <option value="{{i.id}}">{{i.size}}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->
<!--                  </div>-->


<!--                  <div class="col-7" style='text-align: right;'>-->
<!--                    <label for="ratingV">Rating</label>-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <select name="ratingV" id="ratingV" style="width: 100px;height:25px;">-->
<!--                      {% for i in data[0] %}-->
<!--                        <option value="{{i.id}}">{{i.size}}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->
<!--                  </div>-->


<!--                  <div class="col-7" style='text-align: right;'>-->
<!--                    <label for="cv">Rated Cv</label>-->
<!--                  </div>-->
<!--                  <div class="col-5">-->
<!--                    <select name="cv" id="cv" style="width: 100px;height:25px;">-->
<!--                      <option value="">1</option>-->
<!--                      <option value="">2</option>-->
<!--                      <option value="">3</option>-->
<!--                      <option value="">4</option>-->
<!--                    </select>-->
<!--                  </div>-->

                  <div class="col-7" style='text-align: right;'>
                    <label for="endConnection">End Connection</label>
                  </div>
                  <div class="col-5">
                    <select name="endConnection" id="endConnection" style="width: 100px;height:25px;">
                      {% for i in data[5] %}
                        {% if i.id == v_dict['end_connection'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-7" style='text-align: right;'>
                    <label for="endFinish">End Finish</label>
                  </div>
                  <div class="col-5">
                    <select name="endFinish" id="endFinish" style="width: 100px;height:25px;">
                      {% for i in data[4] %}
                        {% if i.id == v_dict['end_finish'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <!-- <div class="col-7" style='text-align: right;'>
                      <label for="">Bonnet Material</label>
                    </div>

                    <div class="col-5">
                      <select name="" id="" style="width: 100px;height:25px;">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                      </select>
                    </div> -->

                  <div class="col-7" style='text-align: right;'>
                    <label for="bonnetType">Bonnet Type</label>
                  </div>
                  <div class="col-5">
                    <select name="bonnetType" id="bonnetType" style="width: 100px;height:25px;">
                      {% for i in data[6] %}
                        {% if i.id == v_dict['bonnet_type'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-7" style='text-align: right;'>
                    <label for="bed"> Bonnet Ext Dimension</label>
                  </div>
                  <div class="col-5">
                    <input type="text" name="bed" id="bed" value="{{v_dict['bonnet_ext_dimension']}}" style="width: 100px;">
                  </div>



                  <div class="col-7" style='text-align: right;'>
                    <label for="packingType">Packing Type</label>
                  </div>
                  <div class="col-5">
                    <select name="packingType" id="packingType" style="width: 100px;height:25px;">
                      {% for i in data[7] %}
                        <option value="{{i.id}}">{{i.name}}</option>
                      {% endfor %}
                    </select>
                  </div>



                  <div class="col-7" style='text-align: right;'>
                    <label for="trimType">Trim Type</label>
                  </div>
                  <div class="col-5">
                    <select name="trimType" id="trimType" style="width: 100px;height:25px;">
                      {% for i in data[8] %}
                        {% if i.id == v_dict['trim_type'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-7" style='text-align: right;'>
                    <label for="flowCharacter">Flow Character</label>
                  </div>
                  <div class="col-5">
                    <select name="flowCharacter" id="flowCharacter" style="width: 100px;height:25px;">
                      {% for i in data[9] %}
                        {% if i.id == v_dict['flow_character'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-7" style='text-align: right;'>
                    <label for="flowDirection">Flow Direction</label>
                  </div>
                  <div class="col-5">
<!--                    <select name="flowDirection" id="flowDirection" style="width: 100px;height:25px;">-->
<!--                        <option value="5" id="None" class="">-&#45;&#45;</option>-->
<!--                        {% if data[10][0].id == v_dict['flow_direction'] %}-->
<!--                          <option value="{{data[10][0].id}}" id="showBut1" class="myDiv2" selected>{{data[10][0].name}}</option>-->
<!--                        {% else %}-->
<!--                          <option value="{{data[10][0].id}}" id="showBut1" class="myDiv2">{{data[10][0].name}}</option>-->
<!--                        {% endif %}-->

<!--                        {% if data[10][0].id == v_dict['flow_direction'] %}-->
<!--                          <option value="{{data[10][1].id}}" id="showBut2" class="myDiv2" selected>{{data[10][1].name}}</option>-->
<!--                        {% else %}-->
<!--                          <option value="{{data[10][1].id}}" id="showBut2" class="myDiv2">{{data[10][1].name}}</option>-->
<!--                        {% endif %}-->

<!--                        {% if data[10][0].id == v_dict['flow_direction'] %}-->
<!--                          <option value="{{data[10][2].id}}" id="showGl1" class="myDiv2" selected>{{data[10][2].name}}</option>-->
<!--                        {% else %}-->
<!--                          <option value="{{data[10][2].id}}" id="showGl1" class="myDiv2">{{data[10][2].name}}</option>-->
<!--                        {% endif %}-->

<!--                        {% if data[10][0].id == v_dict['flow_direction'] %}-->
<!--                          <option value="{{data[10][3].id}}" id="showGl2" class="myDiv2" selected>{{data[10][3].name}}</option>-->
<!--                        {% else %}-->
<!--                          <option value="{{data[10][3].id}}" id="showGl2" class="myDiv2">{{data[10][3].name}}</option>-->
<!--                        {% endif %}-->
<!--                    </select>-->
                    <select name="flowDirection" style="width: 100px;height:25px;">
                      {% for i in data[10]%}
                        {% if i.id == v_dict['flow_direction'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-7" style='text-align: right;'>
                    <label for="SLClass">Seat Leakage Class</label>
                  </div>
                  <div class="col-5">
                    <select name="SLClass" id="SLClass" style="width: 100px;height:25px;">
                      {% for i in data[11] %}
                        {% if i.id == v_dict['leakage_class'] %}
                          <option value="{{i.id}}" selected>{{i.name}}</option>
                        {% else %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>



                </div>
              </div>
            </div>



            <div class="col-5 tools" style="text-align: right;background-color: #EAEAEA;">
              <h5 class="" style="text-align: left; margin-top: 10px; ">Material Selection</h5>

<!--              <div class="row" style="margin-top: 10px;">-->
<!--                <div class="col-5">-->
<!--                  <label for="">Body</label>-->
<!--                </div>-->
<!--                <div class="col-5">-->
<!--                  <select name="" id="" style="width: 100px; height:25px;radius:0px;">-->
<!--                    <option value="">1</option>-->
<!--                    <option value="">2</option>-->
<!--                    <option value="">3</option>-->
<!--                    <option value="">4</option>-->
<!--                  </select>-->
<!--                  <div class="popup" onclick="myFunction()">Notes-->
<!--                    <span class="popuptext" id="myPopup">Notes Loading</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

              <div class="row">
                <div class="col-5">
                  <label for="">Bonnet</label>
                </div>
                <div class="col-5">
                  <select name="bonnetMaterial" id="bonnetMaterial" style="width: 100px;height:25px;">
                        {% for i in data[1] %}
                          {% if i.id == v_dict['bonnet'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-5">
                  <label for="">Body-Bonnet NDE1</label>
                </div>
                <div class="col-5">
                  <select name="nde1" id="nde1" style="width: 100px;height:25px;">
                    {% for i in data[15] %}
                      {% if i.id == v_dict['nde1'] %}
                        <option value="{{i.id}}" selected>{{i.name}}</option>
                      {% else %}
                        <option value="{{i.id}}">{{i.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-5">
                  <label for="">Body-Bonnet NDE2</label>
                </div>
                <div class="col-5">
                  <select name="nde2" id="nde2" style="width: 100px;height:25px;">
                    {% for i in data[15] %}
                      {% if i.id == v_dict['nde2'] %}
                        <option value="{{i.id}}" selected>{{i.name}}</option>
                      {% else %}
                        <option value="{{i.id}}">{{i.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>
              {% if style == 'Globe' %}
                <div id="showOne" class="myDiv2">
                  <div class="row">
                    <div class="col-5">
                      <label for="">Trim</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="trim_g" id="trim_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[4] %}
                          {% if i.id == v_dict['plug'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Soft Seat</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="seat_g" id="seat_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[5] %}
                          {% if i.id == v_dict['seat'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Stem</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="stem_g" id="stem_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[7] %}
                          {% if i.id == v_dict['stem'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Packing</label>
                    </div>
                    <div class="col-5" style="width: 152px;;">
                      <select name="packing_g" id="packing_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[6] %}
                          {% if i.id == v_dict['packing'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
              </div>
              {% else %}
                <div id="showTwo" class="myDiv2">

                  <div class="row">
                    <div class="col-5">
                      <label for="">Shaft</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="stem_g" id="stem_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[0] %}
                          {% if i.id == v_dict['stem'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Disc</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="trim_g" id="trim_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[1] %}
                          {% if i.id == v_dict['plug'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Seat</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="seat_g" id="seat_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[2] %}
                          {% if i.id == v_dict['seat'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="">Packing</label>
                    </div>
                    <div class="col-5" style="width: 152px;">
                      <select name="packing_g" id="packing_g" style="width: 100px;height:25px;">
                        {% for i in v_mat[3] %}
                          {% if i.id == v_dict['packing'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>

              </div>
              {% endif%}



              <div class="row">
                <div class="col-5">
                  <label for="">Balance Seal</label>
                </div>

                <div class="col-5">
                  <select name="balance_seal" id="" style="width: 100px; height:25px;">
                    {% if v_dict['balance_seal'] == 'unbalanced' %}
                      <option value="unbalanced" selected>Unbalanced</option>
                    {% else %}
                      <option value="unbalanced">Unbalanced</option>
                    {% endif %}

                    {% if v_dict['balance_seal'] == 'ptfe' %}
                      <option value="ptfe" selected>PTFE</option>
                    {% else %}
                      <option value="ptfe">PTFE</option>
                    {% endif %}

                    {% if v_dict['balance_seal'] == 'graphite' %}
                      <option value="graphite" selected>Graphite</option>
                    {% else %}
                      <option value="graphite">Graphite</option>
                    {% endif %}

                    {% if v_dict['balance_seal'] == 'metal' %}
                      <option value="metal" selected>Metal</option>
                    {% else %}
                      <option value="metal">Metal</option>
                    {% endif %}
                  </select>

                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-5">
                  <label for="">Stud / Nut</label>
                </div>
                <div class="col-5">
                  <select name="stud" id="stud" style="width: 100px;height:25px;">
                        {% for i in v_mat[8] %}
                          {% if i.id == v_dict['stud_nut'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-5">
                  <label for="">Gasket</label>
                </div>
                <div class="col-5">
                  <select name="gasket" id="gasket" style="width: 100px;height:25px;">
                        {% for i in v_mat[9] %}
                          {% if i.id == v_dict['gasket'] %}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
                          {% else %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                  <div class="popup" onclick="myFunction()">Notes
                    <span class="popuptext" id="myPopup">Notes Loading</span>
                  </div>
                </div>
              </div>



              <!-- <div class="row">
                  <div class="col-5">
                    <label for="">Packing</label>
                  </div>
                  <div class="col-5">
                    <select name="" id="" style="width: 100px; height:25px;">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                    <div class="popup" onclick="myFunction()">Notes
                      <span class="popuptext" id="myPopup">Notes Loading</span>
                    </div>
                  </div>
                </div> -->


              <!-- <div class="row" >
                  <div class="col-5">
                    <label for="">Stud</label>
                  </div>
                  <div class="col-5">
                    <select name="" id="" style="width: 100px; height:25px;">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                    <div class="popup" onclick="myFunction()">Notes
                      <span class="popuptext" id="myPopup">Notes Loading</span>
                    </div>
                  </div>
                </div>

                <div class="row" >
                  <div class="col-5">
                    <label for="">Nut</label>
                  </div>
                  <div class="col-5">
                    <select name="" id="" style="width: 100px;height:25px;">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                    <div class="popup" onclick="myFunction()">Notes
                      <span class="popuptext" id="myPopup">Notes Loading</span>
                    </div>
                  </div>
                </div> -->
            </div>










          </div>
        </div>

      </div>
    </div>

    <input type="submit" name="update" value="Update Item">
    <input type="submit" name="new" value="Create New Item">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--<script>-->
<!--$(document).ready(function(){-->
<!--    $('#vStyle').on('change', function(){-->
<!--    	var demovalue = $(this).val();-->
<!--    	if (demovalue == 'Globe') {-->
<!--    		$("#showOne").show();-->
<!--    		$("#showTwo").hide();-->
<!--    	} else {-->
<!--    		$("#showOne").hide();-->
<!--    		$("#showTwo").show();-->
<!--    	}-->
<!--    });-->
<!--});-->
<!--</script>-->

  <script>
    // When the user clicks on div, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
  </script>

  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>




  {% include "footer.html" %}
  {% endblock %}
